@import 'tailwindcss';
@plugin "daisyui";
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css)
layer(utilities);

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility view-tile {
  @apply h-dvh	w-full;
  @apply bg-transparent;
}

@utility view-title {
  @apply stroke-dark select-none;
  @apply text-4xl font-bold;
  @apply md:text-6xl;
}

@utility table {
  @apply border;
  @apply border-neutral-400;

  & td {
    @apply border;
    @apply border-neutral-400;
  }
}

@utility stroke-dark {
  text-shadow:
    -2px -2px 0 #181818,
    0 -2px 0 #181818,
    2px -2px 0 #181818,
    2px 0 0 #181818,
    2px 2px 0 #181818,
    0 2px 0 #181818,
    -2px 2px 0 #181818,
    -2px 0 0 #181818;
}

@utility icon-discord {
  &::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-discord" viewBox="0 0 16 16"><path d="M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612"/></svg>');
  }
}

@layer utilities {
}

@layer base {
  :root {
    @apply bg-transparent;
    @apply text-slate-100;
  }

  html {
    font-family: 'Verdana', 'cwTeXYen', 'sans-serif';
    @apply text-slate-100;
  }

  body {
    @apply bg-linear-to-t from-neutral-800 to-slate-950 bg-fixed;
  }
}
